
html{
  box-sizing: border-box;
}


body{
  background: linear-gradient(to right, #8a2387, #e94057, #f27121);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;

}

nav ul{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  list-style-type: none;
}

nav li{
  padding: 1rem;
  font-family: 'Hachi Maru Pop', cursive;
  text-align: center;
  width: 25%;
}


nav a{
  font-weight: bold;
  color: #8E2F5C;
  text-decoration: none;
}

nav a:hover{
  color: #887980;
  transition: .5s;
}

.main-container{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: center;
  position: relative;
  left: 550px;
  position: relative;
  top: -150px;

}

#clock{
font-family: 'Hachi Maru Pop', cursive;
font-size: 300%;
color: #B5179E;
text-shadow: 2px 2px rgba(55,6,23, 7.5);
/* #7209B7; */
position: relative;
left: 80px;
